/* colours

neutral
primary
call to action

*/


/* Layout */
#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    vertical-align: top;
}

.navbar {
    padding-left: 10%;
    padding-right: 10%;
}

main, #practice-summary {
    width: 80%;
    margin: 0 auto;
}

footer {
    margin-top: auto;
    width: 100%;
}

#copyright {
    font-size: small;
    text-align:center;
    padding: 5px auto;
    background-color: hsl(180, 6%, 83%);
    color: #000;
}

button {
    display: block;
    text-align: center;
    margin: auto;  
    background: white;
}


/* Embedded Google Map */
.map {
    width: 100%;
    aspect-ratio: 2 / 1;
}

iframe {
    width: 100%;
    height: 100%;
}


/* Services Page */
#container-services {
    position: relative;
}

.service {
    display: flex;
    flex-direction: column;
}

.service-name {

    background: hsl(180, 6%, 83%);
}

.service-description {
    display: none;
}

.service-name.selected {
    background: white;
}

.service-description.selected {
    display: block;
}


/* Team Member Page */
.team-member-container {
    background-image: linear-gradient(white, hsla(180, 6%, 83%, 0.2));
}

.team-member-photo {
    display: flex;
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1 / 1;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.team-member-name {
    font-size: 1.3rem;
}

.team-member-languages {
    font-weight: bold;
}


/* Booking Page */
.doctor-overview {
    padding-top: 1.5rem;
}

.doctor-schedule {
    padding-bottom: 1rem;
}

.date-range-selectors {
    display: flex;
    justify-content: end;
    gap: 2px;
    right: 0px;
}

.icon {
    width: 2rem;
    height: 1.5rem;
    border: 1px solid black;
    border-radius: .2rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
}

.dates {
    display: flex;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.timeslots {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    border-bottom: 1px solid black;
}

.timeslots.scrollable {
    height: calc(8 * 1.8rem);
    overflow: scroll;
}

.col {
    vertical-align: top;
}

.timeslot {
    width: 100%;
    padding: 2px 5px;
    margin: 8px auto;
    border: 1px solid black;
    border-radius: 3px;

}

.timeslot:hover, .timeslot:focus {
    background: hsla(180, 6%, 83%, 0.5);
}

.load_more_rows {
    font-weight: bold;
    border: none;
    margin: auto;
}

.hidden {
    display: none;
}

.shaded {
    background-color: hsla(180, 6%, 83%, 20%);
}


/* Booking Confirmation Dialog Box */
#booking-modal {
    width: 80%;
    height: 80%;
    padding: 30px;
    border-radius: 1rem;
    margin: auto;    
}

.dialog-appointment-details {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    gap: 1rem;
}

.dialog-appointment-details .photo-container {
    padding: auto;
    border-right: 1px solid black;
}

.dialog-appointment-details .team-member-photo {
    max-width: 100px;
}

.patient-type {
    text-align: center;
    justify-content: center;
    padding-top: 10%;
}

button#existing-patient, button#new-patient {
    width: 35%;
    line-height: 3rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}

button#confirm-booking {
    width: 150px;
    line-height: 1.5rem;
    border-radius: .2rem;
}

.existing-patient, .new-patient, .confirm-booking, .confirmed-booking {
    display: none;
}

.dialog-controls {
    display: flex;
    justify-content: space-between;
}

.back-dialog {
    visibility: hidden;
}

button#book-now {
    font-size: 1.2rem;
    width: 80%;
    line-height: 3.6rem;
    border-radius: 1.8rem;
    margin-left: 5%;   
}

/* Appointments Page */

.schedule-today {
    border: 1PX SOLID BLACK;
    overflow: scroll;
    margin-bottom: 0.5rem;
}

.appointment {
    margin: .5rem 0px;
    padding: 0.5rem 1rem;
    border: 1px solid black;
}

.appointment-details {
    min-height: 4rem;
    border: 1px solid black;
    margin-bottom: 0.5rem;
}

.details {
    display: none;
}

.patient-name, .patient-dob {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.appointments h5 {
    display: inline;
    margin-right: 2rem;
    padding-bottom: 0.5rem;
}

.appointments h5:hover {
    cursor: pointer;
}

.patient .span-2-cols {
    grid-template-columns: 0.4fr 0.6fr;
    gap: 1rem;
}

.upcoming-appointments, .past-appointments {
    margin: 0.5rem 0;
    max-height: calc(((127 / 16) * 1rem) * 5);
    overflow: scroll;
}

.past-appointments {
    display: none;
}

.appointment-person, .appointment-time-date {
    padding: 0.5rem 1rem;
}

.appointment-person {
    border-bottom: 1px solid gray ;
}

.labels {
    font-weight: bold;
}

svg {
    height: 30px;
}

.svg-icon {
    display: inline;
    margin: 0 .5rem;
}

.selector {
    color: hsl(180, 6%, 83%);
    padding-bottom: 0.5rem;
}

.selector .selected {
    position: relative;
    color: black;
}

.selector .selected:after {
    content:'';
    position:absolute;
    width: 100%;
    bottom:0;
    left:0;
    right:0;
    background:black;
    height:2px;
    border-radius: 1px;
}


/* Miscellaneous */
.span-2-cols {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
}

.right {
    text-align: right;
}

.active {
    display: block;
}

.hidden {
    visibility: hidden;
}


/* Media Queries */
@media (min-width: 650px) {
    /* Layout */
    main, #practice-summary {
        width: 95%;
    }

    /* Services Page */
    .service {
        display: flex;
    }
    
    .service-name {
        width: 30%;
        background: hsl(180, 6%, 83%);
    }
    
    .service-description {
        position: absolute;
        top: 0;
        left: 30%;
        display: none;
        width: 70%;
        height: 100%;
    }

    /* Contact Us Page */
    .clinic-details {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (min-width: 850px) {
    /* Layout */
    #practice-summary {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* Team Member Page */
    .team-member-container {
        display: grid;
        grid-template-columns: 0.3fr 0.7fr;
       
    }

    /* Booking Page */
    .doctor-schedule, .doctor-overview {
        display: grid;
        grid-template-columns: 0.3fr 0.7fr;
        gap: 1rem;
    }

    /* Appointments Page */
    .appointments-today {
        display: grid;
        grid-template-columns: 0.3fr 0.7fr;
        gap: 1rem;
    }

    .appointment-details {
        min-height: 20rem;
    }

    .patient-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
