{% extends "medical_practice/layout.html" %}

{% block body %}

<h4>Book</h4>   

<div id="container-booking">
    {% for doctor in doctors %}
        <div class="doctor-schedule span-2-cols" data-doctor_id="{{ doctor.id }}">
            <div class="doctor-overview">
                <h6>Dr {{ doctor.first_name }} {{ doctor.last_name }}</h6>
            </div>
            <div class="availability">
                <div class="date-range-selectors">
                    <div id="prev" class="icon hidden">&lt;</div>
                    <div id="next" class="icon">&gt;</div>
                </div>
                
                <div class="bookings-container">
                    <div class="dates"></div>
                    <div class="timeslots"></div>
                    <div><p class="load_more_rows">Show More</p></div>
                </div>
                <!-- <table>
                    <tr class="dates">
                    </tr>
                    <tr class="timeslots">
                    </tr>
                    <tr>
                        <td colspan="5">
                            <p class="load_more_rows">Show More</p>
                        </td>
                    </tr>
                </table> -->
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}