{% extends "medical_practice/layout.html" %}

{% block body %}

<h4>Contact Us</h4>    
<br>
<div id="container">
    <div class="clinic-details span-2-cols">
        <div class="contact-details">
            <h6>Talk to us at:</h6>
            <p>Phone: (00) 1234 5678</p>
            <p>Email: reception@capstonehealth.com</p>
        </div>
        <div class="open-hours">
            <h6>We are open:</h6>
            <p>Monday-Friday: 8am - 5pm</p>
            <p>Saturday/Sunday: Closed</p>
        </div>
    </div>

    <div class="clinic-location">
        <p>123 Fake Street</p>
        <div class="map">

        </div>
    </div>
    <br>
</div>

{% endblock %}