{% extends "medical_practice/layout.html" %}

{% block body %}

<h4>Contact Us</h4>    
<br>
<div id="container">
    <div class="clinic-details span-2-cols">
        <div class="contact-details">
            <h6>Talk to us at:</h6>
            <p>Phone: (00) 1234 5678</p>
            <p>Email: reception@capstonehealth.com</p>
        </div>
        <div class="open-hours">
            <h6>We are open:</h6>
            <p>Monday-Friday: 8am - 5pm</p>
            <p>Saturday/Sunday: Closed</p>
        </div>
    </div>

    <div class="clinic-location">
        <p>123 Fake Street</p>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2977.781401646108!2d-87.7512738232809!3d41.72523567125901!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e3bd3bb6db18d%3A0x6582323d7a833d16!2s123%20Fake%20Street%2C%20Oak%20Lawn%2C%20IL%2060453%2C%20USA!5e0!3m2!1sen!2sar!4v1682361551488!5m2!1sen!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <br>
</div>

{% endblock %}