{% extends "medical_practice/layout.html" %}

{% block body %}

<div>
    <h5>Who are we?</h5>
    <p>Working together for your health and wellbeing Capstone Health caters for all of your medical and allied health needs. The clinic is a medical centre staffed by dedicated and experienced doctors, who strive to provide excellent care to all patients.</p>
    <p>At Capstone Health our mission is to:</p>
    <ul>
        <li>Provide a professional, effective and caring service to our patients at all times.</li>
        <li>Provide an atmosphere where the patient feels comfortable and is confident in the knowledge that his/her welfare is our prime concern.</li>
        <li>Set and maintain a standard of care by which others will be bench marked.</li>
        <li>Keep safe and confidential at all times all correspondence pertaining to each patient.</li>
    </ul>
</div>  
<br>
<div>
    <h5>GP Consultations</h5>
    <p>
        We are equipped and staffed to provide a variety of medical services for adults and children, as well as workplace health care. With comfortable and well equipped treatment rooms, we offer the convenience of an on-site pharmacy and easy parking.
        Urgent appointments are available every day, though an appointment may not be showing as available online.
        If you need an urgent appointment please call the clinic on (00) 1234 5678 and advise reception that you need to see a doctor ASAP.
    </p>
</div> 
<br>
<div>
    <h5>Appointments when sick</h5>
    <p>
        Coronavirus has changed the manner sick people are seen. If there is a possibility of your having Covid virus, please proceed directly Covid testing or phone the clinic, do not book online.
    </p>
</div>
<br>

{% endblock %}