{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Medical Practice{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'medical_practice/styles.css' %}" rel="stylesheet">
        <script src="{% static 'medical_practice/medical_practice.js' %}"></script>
    </head>
    <body>
        <header>
            <div class="nav-container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Capstone Health</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="{% url 'services' %}">Services</a>
                        <a class="nav-item nav-link" href="{% url 'team' %}">Team</a>
                        <a class="nav-item nav-link" href="{% url 'practice-information' %}">Practice Information</a>
                        <a class="nav-item nav-link" href="{% url 'book' %}">Book Appointment</a>
                        <a class="nav-item nav-link" href="{% url 'contact' %}">Contact Us</a>
                      </div>
                    </div>
                  </nav>
            </div>
        </header>
        <main>        
            {% block body %}
            {% endblock %}

            <dialog id="booking-modal">
                <div class="booking-confirmation-header">
                    <div class="dialog-controls">
                        <div class="back-dialog">&larr;</div>
                        <div class="close-dialog">&#x2715</div>
                    </div>
                    <div class="appointment-details span-2-cols">
                        <div class="team-member-photo">INSERT IMAGE</div>
                        <div>
                            <div class="appointment-doctor"></div>
                            <div class="appointment-date-time"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="dialog-main">
                    <div class="patient-type">
                        <h3>Have you been seen at Capstone Medical?</h3>
                        <br><br>
                        <button id="existing-patient">Existing Patient</button>
                        <br><br>
                        <button id="new-patient">New Patient</button>
                    </div>
                    <div class="existing-patient">
                        <form id="login"  method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <input id="first_name_login" autofocus class="form-control" type="text" name="first_name" placeholder="First name">
                            </div>
                            <div class="form-group">
                                <input id="last_name_login" class="form-control" type="text" name="last_name" placeholder="Last name">
                            </div>
                            <!-- <div class="form-group">
                                <input class="form-control" type="text" name="username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" placeholder="Password">
                            </div> -->
                            <input class="btn btn-primary" value="Login">
                        </form>
                    </div>

                    <div class="new-patient">
                        {% if message %}
                            <div>{{ message }}</div>
                        {% endif %}

                        <form id="register" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h4>Create Patient Account</h4>
                            <h6>Patient Details</h6>
                            <div class="form-group">
                                <input id="first_name_register" class="form-control" autofocus type="text" name="first_name" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input id="last_name_register" class="form-control" type="text" name="last_name" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input id="dob" class="form-control" type="text" name="dob" placeholder="Date of Birth" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}">
                            </div>
                            <div class="form-group">
                                <select id="gender" class="form-control" name="gender" id="gender">
                                    <option selected disabled>Select your gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">I do not wish to answer</option>
                                  </select>
                            </div>
                            <br>
                            <h6>Contact Details</h6>
                            <div class="form-group">
                                <input id="phone_number" class="form-control" type="tel" name="phone_number" placeholder="Contact Number">
                            </div>
                            <div class="form-group">
                                <input id="email" class="form-control" type="email" name="email" placeholder="Email Address">
                            </div>
                            <br>
                            <h6>Account Password</h6>
                            <div class="form-group">
                                <input id="password" class="form-control" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input id="confirmation" class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                            </div>
                            <br>
                            <input class="btn btn-primary" value="Create Account">


                            <!-- <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="first_name">First Name:</label>
                                
                                <input class="form-control col-sm-10" autofocus type="text" name="first_name" placeholder="First Name">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="last_name">Last Name:</label>
                                <input class="form-control  col-sm-10" type="text" name="last_name" placeholder="Last Name">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="dob">Date of Birth:</label>
                                <input class="form-control  col-sm-10" type="text" name="dob" placeholder="Date of Birth" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="gender">Gender:</label>
                                <select class="form-control  col-sm-10" name="gender" id="gender">
                                    <option selected disabled>Select your gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">I do not wish to answer</option>
                                  </select>
                            </div>
                            <br>
                            <h6>Contact Details</h6>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="phone_number">Contact Number:</label>
                                <input class="form-control  col-sm-10" type="tel" name="phone_number" placeholder="Contact Number">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="email">Email Address:</label>
                                <input class="form-control  col-sm-10" type="email" name="email" placeholder="Email Address">
                            </div>
                            <br>
                            <h6>Account Password</h6>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                            </div>
                            <br>
                            <input class="btn btn-primary" value="Register"> -->
                        </form>
                    </div>

                    <div class="confirm-booking">
                        <h4>Please check the below booking details.</h6>
                        <p><strong>Date:</strong> </p> <p class="selected-date"></p>
                        <p><strong>Time:</strong> </p> <p class="selected-time"></p>
                        <p><strong>Doctor:</strong> </p> <p class="selected-doctor"></p>
                        <br><br>
                        <p><strong>Additional notes:</strong> </p> <textarea name="" id="" cols="30" rows="5"></textarea>
                        <br>
                        <button id="confirm-booking">Confirm booking</button>
                    </div>

                </div>


            </dialog>
        </main>
        <footer id="practice-summary">
            <div class="span-3-cols">
                <div class="footer-book">
                    <h5>Book an Appointment</h5>
                    <p>Book an appointment at Capstone Health.</p>
                    <p>See up to fate availability and book instantly.</p>
                    <button>Book Appointment</button>
                </div>
                <div class="footer-contact">
                    <h5>Contact Information</h5>
                    <p>Phone: (00) 1234 5678</p>
                    <p>Email: reception@capstonehealth.com</p>
                    <p>Monday-Friday: 8am - 5pm</p>
                    <p>Saturday/Sunday: Closed</p>
                </div>
                <div class="footer-location">
                    <h5>Find Us</h5>
                    <p>123 Fake Street</p>
                    INSERT GOOGLE MAPS MODULES
                </div>
            </div>
        </footer>
        <footer id="copyright">
            <small>Copyright © 2023 Jae Hosking.</small>
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>