{% extends "medical_practice/layout.html" %}

{% block body %}

<h4>Services</h4>    
<br>
<div id="container-services" class="span-2-cols">
    <div class="services">
        <ul>
            {% for service in services %}
                {% if forloop.first %}
                    <li id="{{ service.id }}" class="selected">{{ service.title }}</li>
                {% else %}
                    <li id="{{ service.id }}">{{ service.title }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="service-description">
        <p>{{ services.0.description }}</p>
    </div>
</div>
<br>

{% endblock %}