{% extends "medical_practice/layout.html" %}

{% block body %}

<h4>Services</h4>    

<p>Capstone Health offers a range of medical services. See what we offer below!</p>

<div id="container-services" >
    {% for service in services %}
            {% if forloop.first %}
                <div class="service">
                    <div id="{{ service.id }}" class="service-name selected"><p>{{ service.title }}</p></div>
                    <div class="service-description selected">
                        <p>{{ service.description }}</p>
                    </div>
                </div>  
            {% else %}
                <div class="service">
                    <div id="{{ service.id }}" class="service-name"><p>{{ service.title }}</p></div>
                    <div class="service-description">
                        <p>{{ service.description }}</p>
                    </div>
                </div>
            {% endif %}
    {% endfor %}
</div>
<br>

{% endblock %}