<div class="team-member-container span-2-cols">
    <div class="photo-container">
        <img class="team-member-photo" src="{{ doctor.photo.url }}" >
    </div>
    <div class="team-member-details">
        <div class="team-member-name">Dr {{ doctor.user.first_name }} {{ doctor.user.last_name }}</div><br>
        <div class="team-member-qualifications">{{ doctor.user.gender }}, {{ doctor.qualifications }}</div><br>
        <div class="team-member-languages">Speaks {{ doctor.languages }}</div><br>
        <div class="team-member-description">{{ doctor.summary }}</div><br>
    </div>
</div>
<br>

